

{% block content %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Chapati Roti Factory</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script type="text/javascript">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  
  	
  </script>
  <script>

$(document).ready(function(){  
           $('#search').keyup(function(){  
                search_table($(this).val());  
           });  
           function search_table(value){  
                $('#data tr').each(function(){  
                     var found = 'false';  
                     $(this).each(function(){  
                          if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)  
                          {  
                               found = 'true';  
                          }  
                     });  
                     if(found == 'true')  
                     {  
                          $(this).show();  
                     }  
                     else  
                     {  
                          $(this).hide();  
                     }  
                });  
           }  
      });





   $(document).ready(function(){
    $('#data').after('<div id="nav"></div>');
    var rowsShown = 10;
    var rowsTotal = $('#data tbody tr').length;
    var numPages = rowsTotal/rowsShown;
    for(i = 0;i < numPages;i++) {
        var pageNum = i + 1;
        $('#nav').append('<a href="#" rel="'+i+'">'+pageNum+'</a> ');
    }
    $('#data tbody tr').hide();
    $('#data tbody tr').slice(0, rowsShown).show();
    $('#nav a:first').addClass('active');
    $('#nav a').bind('click', function(){

        $('#nav a').removeClass('active');
        $(this).addClass('active');
        var currPage = $(this).attr('rel');
        var startItem = currPage * rowsShown;
        var endItem = startItem + rowsShown;
        $('#data tbody tr').css('opacity','0.0').hide().slice(startItem, endItem).
        css('display','table-row').animate({opacity:1}, 300);
    });
});

  function downloadCSV(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV file
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // Create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Hide download link
    downloadLink.style.display = "none";

    // Add the link to DOM
    document.body.appendChild(downloadLink);

    // Click download link
    downloadLink.click();
}
function exportTableToCSV(filename) {
    var csv = [];
    var rows = document.querySelectorAll("table tr");
    
    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll("td, th");
        
        for (var j = 0; j < cols.length; j++) 
            row.push(cols[j].innerText);
        
        csv.push(row.join(","));        
    }

    // Download CSV file
    downloadCSV(csv.join("\n"), filename);
}


  </script>
</head>
<style>
.sections {display:none;}
.sections:target {display:block;}
}

#navbar li {
  display: inline;
  [COLOR="Red"]padding-right: 30px;[/COLOR]
}
body{
  background-color:white;
}
</style>
<body>
<nav class="navbar navbar-expand-sm"style="background-color: #7aba1e;">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Chapati Roti Factory</a>
  
  <!-- Links -->
  <ul class="navbar-nav">
     <li class="home"style="padding:10px"><a href="#1"style="padding:10px;text-transform:uppercase;color:#fff">Upload Menu</a></li>
     <li class="overview"style="padding:10px"><a href="#2"style="padding:10px;text-transform:uppercase;color:#fff">Upload A-La-Carta Menu</a></li>
     <li class="reports"style="padding:10px"><a href="#3"style="padding:10px;text-transform:uppercase;color:#fff">Reports</a></li>
     <li class="logout" style="padding:10px"><a href="{% url 'logout' %}" style="padding:10px;text-transform:uppercase;color:red">Logout</a></li>
  </ul>

</nav>
<br>
<br>

<form action="{% url 'reader_name:readexcel' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
<div class="container">
	<div class="d1" id="1">
	<p> This will upload the monthly menu for all tiffins like School Tiffin, Office Tiffin, Lunch Tiffin and Dinner Tiffin</p>
  {% for row in excel_data %}
            {% for cell in row %}
                {{ cell }}&nbsp;&nbsp;
            {% endfor %}
            <br>
        {% endfor %}  
  <div class="file-upload-wrapper">
  Select a file to upload: <input type="file" id="input-file-now" class="file-upload" name="excel_file" />
  <input type="submit" value="submit"/>
	</div>
</div>
</form>

	


	<!-- 2nd DIV -->
<form action="{% url 'reader_name2:readexcel2' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
	<div class="d2" id="2">
	<p> This will upload the monthly menu A-La-Carta Tiffin</p>
  {% for row in excel_data %}
            {% for cell in row %}
                {{ cell }}&nbsp;&nbsp;
            {% endfor %}
            <br>
        {% endfor %}  
  <div class="file-upload-wrapper">
  Select a file to upload: <input type="file" id="input-file-now" class="file-upload" name="excel_file2" />
  <input type="submit" value="submit"/>
	</div>
	</div>
</form>
	<!-- 3rd DIV -->
</form>







	<div class="d3" id="3">
    
    

<input type="text" id="search" placeholder="  live search" onkeyup="sumtot()"></input>

  
    <button>Show Data</button>
		<button onclick="exportTableToCSV('OrderReport.csv')">Export To Excel</button>
    <br>
	<table border="1" class="table" id="data" style="width:70rem;background-color: white">
                <tbody>
                    <tr class="filters"style="background-color: yellow">
                      <th>Order ID</th>
                      <th>Tiffin Type</th>
                      <th>SubTiffin Type</th>
                      <th>From</th>
                      <th>To</th>
                      <th>Amount</th>
                      <th>Ordered By</th>
                    </tr>
                    {% for getdata in OrderNow%}
                    <tr>
                        <td>{{getdata.ordernow_id}}</td>
                        <td>{{getdata.tiffin_type}}</td>
                        <td>{{getdata.subtiffin_type}}</td>
                        <td>{{getdata.from_date}}</td>
                        <td>{{getdata.to_date}}</td>
                        <td>{{getdata.total_amount}}</td>
                        <td>{{getdata.author_id}}</td>
                    </tr>
                   {% endfor%}
               </tbody>
    </table>
    
    <br />
    Sum :
    <input type="text" name="name" id="txtSum" />
	</div>


</div>
<script type="text/javascript">
$("#search").on("keyup", function() {
    var value = $("#data").val();

    $("table tr").each(function(index) {
        if (index !== 0) {

            $row = $(this);

            var id = $row.find("td:first").text();

            if (id.indexOf(value) !== 0) {
                $row.hide();
            }
            else {
                $row.show();
            }
        }
    });
});
</script>
 
<script type="text/javascript">
	$(document).ready(function () {
 	$("#1").show();
 	$("#2").hide();
    $("#3").hide();
$("li.home").click(function () {
    $("#1").show();
    $("#2").hide();
    $("#3").hide();
});

$("li.overview").click(function () {
    $("#2").show();
    $("#1").hide();
    $("#3").hide();
});
$("li.reports").click(function () {
    $("#2").hide();
    $("#1").hide();
    $("#3").show();
});
    });



</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            
                var grid = document.getElementById("data");
                var rows = grid.getElementsByTagName("tr");
                var amount = 0;
                for (var i = 1; i < rows.length; i++) {
                    var cells = rows[i].getElementsByTagName("td");
                    amount += parseFloat(cells[5].innerHTML);
                }
                $('[id*=txtSum]').val(amount);
            });
    
    </script>
</body>
</html>


{% endblock %}

