<!DOCTYPE html>
<html>
<head>

</head>
<body>

<table border="1">
                
                    <tr class="filters"style="background-color: yellow">
                        <th>Order ID</th>
                        <th>Tiffin Type</th>
                        <th>Sub Type</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Amount</th>
                    </tr>
                    {% for getdata in EmpInsert%}
                    <tr>
                        
                        <td>{{getdata.ordernow_id}}</td>
                        <td>{{getdata.tiffin_type}}</td>
                        <td>{{getdata.subtiffin_type}}</td>
                        <td>{{getdata.from_date}}</td>
                        <td>{{getdata.to_date}}</td>
                        <td>{{getdata.total_amount}}</td>

                    </tr>
                   {% endfor%}
            </table>
    </body>
</html>